body { 
      box-sizing: border-box;
      font-family: 'Cousine', monospace;
}
header{
    padding: 20px;
    background: #20262A;
    color: #33393F;
}
main{
    text-align: justify;
    letter-spacing: 0.5px;
}